@import "responsive.css";
body{
  background-color: #F3F6FF;
  width: 100vw;
  /* height: 100vw; */
}
/* .all{
  padding: calc(20px + (50 - 20) * ((100vw - 320px) / (1440 - 320)));
} */
.flask{
  position: relative;
  width: 25vw;
  height: 48vw;
  left: 209px;
  top: 1px;
}
.rectangle{
  position: absolute;
  width: 26px;
  height: 470px;
  left: 222px;
  top: 113px;
  background: #DADADC;
  border: 0.5px solid #000000;
  border-radius: 13px;
}
.rectangle1{
  position: relative;
  width: 25vw;
  height: 20vw;
  left: 195px;
  top: 635px;
  background: #000000;
  border-radius: 24px;
}
.rectangle2{
  position: absolute;
  width: 28px;
  height: 29px;
  left: 222px;
  top: 570px;
  background: black;
}
.rectangle3{
  position: absolute;
  width: 368px;
  height: 38px;
  left: 195px;
  top: 596px;
  background: #554A6C;
  border: 0.5px solid #000000;
}
.rectangle4{
  position: absolute;
  width: 309px;
  height: 25px;
  left: 194px;
  top: 160px;
  background: #DADADC;
  border: 0.5px solid #000000;
}
.round{
  position: absolute;
  width: 51px;
  height: 51px;
  left: 209px;
  top: 144px;
  background: #000000;
  border-radius: 50px;
}
.rectangle5{
  position: absolute;
  width: 21px;
  height: 21px;
  left: 224px;
  top: 158px;
  background: #FFEA64;
  transform: rotate(45deg);
}
.dropper1{
  position: absolute;
  width: 31px;
  height: 56px;
  left: 733px;
  top: 276px;
  background: #58A859;
  border: 0.5px solid #000000;
  border-radius: 24px;
}
.rectangle9{
  position: absolute;
  width: 75px;
  height: 23px;
  left: 710px;
  top: 263px;
  background: #DADADD;
  border: 0.5px solid #000000;
}
.dropper{
  position: absolute;
  width: 162px;
  height: 41px;
  left: 667px;
  top: 225px;
  background: #FF9400;
  border: 0.5px solid #000000;
}
.wrapper{
  position: absolute;
  left: 684px;
  top: 224px;
}
.elementstostring{
  background: black;
  width: 16px;
  height: 30px;
  left: 684.06px;
  top: 224.62px;
  margin: 0 10px 10px 0; /* Отступы */
  display: inline-block; /* Строчно-блочный элемент */
}
.tripod{
  position: absolute;
  width: 24px;
  height: 641px;
  left: 645px;
  top: 221px;
  background: #DADADD;
  border: 0.5px solid #000000;
}
.tripod1{
  position: absolute;
  width: 24px;
  height: 598px;
  left: 827px;
  top: 223px;
  background: #DADADD;
  border: 0.5px solid #000000;
}
.spring{
  position: absolute;
  width: 315px;
  height: 110px;
  left: 574px;
  top: 760px;
}
.lever{
  position: absolute;
  width: 146px;
  height: 239px;
  left: 818px;
  top: 499px;
}
a.rollover{
  background: url('file:///Users/evakogut/Desktop/3%20modul/img/hand.svg');
  display: block;
  width:308px ;
  height:365px ;
  position: absolute;
  width: 308px;
  height: 365px;
  left: 839px;
  top: 506px;
}
a.rollover:hover {
    background: url('file:///Users/evakogut/Desktop/3%20modul/img/hand2.svg');
}
/* .hand{
  position: absolute;
  width: 308px;
  height: 365px;
  left: 839px;
  top: 506px;
} */
.cup{
  position: absolute;
  width: 263px;
  height: 285px;
  left: 617px;
  top: 463px;
}
.rectangle6{
  position: absolute;
  width: 62px;
  height: 17px;
  left: 627px;
  top: 854px;
  background: #58A859;
  border: 0.5px solid #000000;
}
.rectangle7{
  position: absolute;
  width: 34px;
  height: 61px;
  left: 823px;
  top: 810px;
  background: #99A9D7;
  border: 0.5px solid #000000;
}
.round1{
  position: absolute;
  width: 22px;
  height: 22px;
  left: 829px;
  top: 820px;
  background: #FFEA64;
  border: 0.5px solid #000000;
  border-radius: 50px;
}
.rectangle8{
  position: absolute;
  width: 12px;
  height: 33px;
  left: 563px;
  top: 811px;
  background: #879AC8;
  border: 0.5px solid #000000;
}
.tube{
  position: absolute;
  width: 205px;
  height: 736px;
  left: 1091px;
  top: 17px;
}
.rectangle10{
  position: absolute;
  width: 26px;
  height: 647px;
  left: 1232px;
  top: 112px;
  background: #DADADC;
  border: 0.5px solid #000000;
  border-radius: 13px;
}
.rectangle11{
  position: absolute;
  width: 192px;
  height: 21px;
  left: 1024px;
  top: 160px;
  background: black;
  border: 0.5px solid black;
}
.octagon {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 1210px;
  top: 136px;
}
.rectangle12{
  position: absolute;
  width: 25px;
  height: 21px;
  left: 999px;
  top: 160px;
  background: #DADADD;
  border: 0.5px solid black;
}
.panel{
  position: absolute;
  width: 33px;
  height: 87px;
  left: 494px;
  top: 128px;
  background: black;
}
.panel1{
  position: absolute;
  width: 33px;
  height: 87px;
  left: 974px;
  top: 128px;
  background: black;
}
.panel2{
  position: absolute;
  width: 465px;
  height: 115px;
  left: 516px;
  top: 110px;
  background: black;
  border-radius: 30px;
}
.overlay{
  position: absolute;
  width: 68px;
  height: 60px;
  left: 1203px;
  top: 535px;
}
.overlay1{
  position: absolute;
  width: 68px;
  height: 53px;
  left: 1209px;
  top: 600px;
}
.bluetube{
  position: absolute;
  width: 149px;
  height: 309px;
  left: 1142px;
  top: 454px;
}
.flashlight{
  position: absolute;
  width: 16px;
  height: 24px;
  left: 1177px;
  top: 733px;
  background: #FF9400;
  border: 0.5px solid black;
  border-radius: 8px;
}
.flashlight1{
  position: absolute;
  width: 16px;
  height: 24px;
  left: 1288px;
  top: 733px;
  background: #FF9400;
  border: 0.5px solid black;
  border-radius: 8px;
}
.rectangle13{
  position: absolute;
  width: 129px;
  height: 125px;
  left: 1177px;
  top: 747px;
  background: black;
}
.rectangle14{
  position: absolute;
  width: 25px;
  height: 22px;
  left: 1281px;
  top: 847px;
  background: #FF9400;
}
.grid{
  position: absolute;
  width: 100px;
  height: 99px;
  left: 1191px;
  top: 761px;
}
.circle{
  position: absolute;
  width: 97px;
  height: 97px;
  left: 1191px;
  top: 761px;
  border: 1px solid #FFFFFF;
  border-radius: 50px;
}
.circle1{
  position: absolute;
  width: 64px;
  height: 64px;
  left: 1207px;
  top: 776px;
  background: #20315A;
  border: 0.5px solid black;
  border-radius: 50px;
}
.circle2{
  position: absolute;
  width: 30px;
  height: 30px;
  left: 1224px;
  top: 794px;
  background: #FFEA64;
  border: 0.5px solid black;
  border-radius: 20px;
}
.blacktube{
  position: absolute;
  width: 130px;
  height: 204px;
  left: 577px;
  top: 263px;
}
.patch{
  position: absolute;
  width: 28px;
  height: 37px;
  left: 644px;
  top: 380px;
}
#question{
  position: absolute;
  width: 54px;
  height: 54px;
  left: 1335px;
  top: 35px;
}
.switch{
  position: absolute;
  width: 160px;
  height: 68px;
  left: 851px;
  top: 333px;
}
.compound{
  position: absolute;
  width: 26px;
  height: 23px;
  left: 572px;
  top: 242px;
}
.rectangle15{
  position: absolute;
  width: 58px;
  height: 19px;
  left: 556px;
  top: 224px;
  background: #E4D88C;
  border: 0.5px solid #000000;
}
.flask2{
  position: absolute;
  width: 412px;
  height: 359px;
  left: 896px;
  top: 111px;
}
.compound2{
  /* position: absolute; */
  width: 3vw;
  height: 15vw;
  /* left: 100px;
  top: 8vw; */
}
















.footer{
  position: absolute;
  width: 1440px;
  height:69px;
  left: 0px;
  top: 868px;
  background: #554A6C;
}
